<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/"><b>測試用網站<small>(B0247826戴鴻翔)</small></b></a>
        <button class="navbar-toggler border" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto">
                <li class="nav-item"><a href="/speedConversion" class="nav-link">速率轉換</a></li>
                <li class="nav-item"><a href="/profitCalculation" class="nav-link">獲利計算</a></li>
            </ul>
        </div>
    </div>
</nav>

<style>
    .navbar{
        background-color: #FFCC66 !important;
    }
    .navbar .navbar-brand{
        color: #003366 !important;
        font-size: 18px;
    }
    
    .navbar li a {
        color: #0000ff !important;
        font-size: 14px;
        font-weight: bold;
    }
    
    .navbar-nav li a:hover,
    .navbar-nav li.active a {
        color: #f4511e !important;
        background-color: #fff !important;
    }
    
    .navbar-default .navbar-toggle {
        border-color: transparent;
        color: #fff !important;
    }
</style>