<!DOCTYPE html>

<head>
    <title><%- title %></title>
    <%- include('./partials/head_libs.ejs') %>
</head>

<body>
    <%- include('./partials/navbar.ejs') %>
        <div class="container text-center my-5">
            <h1><span class="badge bg-danger">專案首頁</span></h1>
            <h3><b>歡迎使用Node Express服務網站</b></h3>
        </div>
</body>

</html>